.highlight {
     background-color: yellow; 
    }
.underline
 { text-decoration: underline;
 }
.bold {
     font-weight: bold;
     }
.hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  button[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  
  body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }